<div>
  <app-home></app-home>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Did we forget someone? Add a New Player to the Blazers Roster!</h3>
</div>
  <div class = "panel-body">
    <label>Player Name:</label>
    <br>
    <input #newName>

  <div>
    <label>Player Position:</label>
    <br>
    <input #newPosition>
  </div>

  <div>
    <label>Player Jersey Number:</label>
    <br>
    <input #newNumber>
  </div>
  <div>
    <label>Player Hometown:</label>
    <br>
    <input #newHometown>
  </div>
  <br>
  <button (click)="submitForm(newName.value, newPosition.value, newNumber.value, newHometown.value); newName.value=''; newPosition.value=''; newNumber.value=''; newHometown.value=''">Add</button>
</div>
</div>
